 body{
  position: relative;
  left: 125px;
 }
 /* Thiết lập định dạng cho sidebar */
 .sidebar {
    position: fixed; /* Đặt vị trí tuyệt đối cho sidebar */
    top: 0; /* Đặt vị trí theo chiều dọc */
    left: 0; /* Đặt vị trí theo chiều ngang */
    width: 100%; /* Đặt chiều rộng bằng 100% của màn hình */
    height: 50px; /* Đặt chiều cao cho sidebar */
    background-color: #333; /* Đặt màu nền cho sidebar */
    color: #fff; /* Đặt màu chữ cho sidebar */
    padding: 10px; /* Đặt khoảng cách giữa các nội dung trong sidebar */
  }

  h3{
    padding-left: 10px;
    color: antiquewhite;
    font-weight: bold;
  }
  
  h4{
    padding-top: 15px;
  }

  nav {
    position: fixed; /* Đặt vị trí tuyệt đối cho thanh điều hướng */
    top: 70px; /* Đặt vị trí theo chiều dọc */
    left: 0; /* Đặt vị trí theo chiều ngang */
    width: 225px; /* Đặt chiều rộng cho thanh điều hướng */
    height: 100vh; /* Đặt chiều cao cho thanh điều hướng */
    background-color: #121010; /* Đặt màu nền cho thanh điều hướng */
    padding: 10px 0px 10px 0px; /* Đặt khoảng cách giữa các nội dung trong thanh điều hướng */
    z-index: 1; /*Đặt phía trên các phần tử*/
    overflow-y: scroll;
  }
  
  /* Thiết lập định dạng cho các liên kết trong thanh điều hướng */
  nav ul {
   list-style: none;  /* Bỏ đi dấu đầu dòng của danh sách */
    margin: 0; /* Bỏ đi khoảng cách giữa các phần tử trong danh sách */
    padding: 0; /* Bỏ đi khoảng cách giữa phần tử đầu tiên và thanh điều hướng */
    font-family: 'Tilt Warp';
    font-size: 20px;
  }
  
  nav ul li {
    display: block; /* Hiển thị các phần tử theo chiều dọc */
    line-height: 35px;
  }
  
  nav a {
    display: block; /* Chuyển các liên kết thành phần tử block để tạo khoảng cách */
    padding: 10px; /* Đặt khoảng cách giữa các nội dung trong liên kết */
    color: #9c9595; /* Đặt màu chữ của liên kết */
    text-decoration: none; /* Bỏ đi gạch chân của liên kết */
  }

  nav ul li a{
    position: relative;
    border-left: 3px solid transparent;
    text-transform:capitalize;
  
  }

  nav ul ul ul {
    position: static;
    display: none;
  }

  nav ul ul ul a{
    color: rgb(221, 211, 199);
  }

  nav ul.pn-show.show1{
    display: block;
  }

  nav ul.px-show.show2{
    display: block;
  }

  nav ul.tc-show.show3{
    display: block;
  }

  nav ul.th-show.show4{
    display: block;
  }

  nav ul ul li a{
    font-size: 17px;
  }

  nav ul ul ul li a{
    font-size: 13px;

  }

  nav ul ul li a i{
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    transition: transform 0.3s;
    font-size: 17px;
    

  }

  nav ul ul li a i.rotate{
    transform: translateY(-50%) rotate(90deg);
  }

  

  nav ul li a:hover{
    color:antiquewhite;
    background: #1e1e1e;
    border-left-color: antiquewhite;
  }

  .btnlogout{
    background-color: rgb(24, 168, 24);
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 250px;
    width: 180px;
    height: 50px;
    border-radius: 40px;
    right: 10px;
    margin: 0px 0px 360px 20px;
    
  }
  .QlyCacMuc{
    left: 100px;
    top: 100px;
    text-align: justify;
    position: relative;
    z-index: -1;
   
  }
  .Trangchu{
    font-size: 30px;
    color: #121010;
    background-color: #ffffff;
    width: 600px;
    height: 300px;
    z-index: -1;

   }








                                /* Trang phiếu nhập */
.pn-all{
  margin: 25px 50px;
  z-index: -1;
}

.pn-tieude{
  width: 1175px; 
  height: 50px;
  background: #333;
  color: antiquewhite;
  text-align: center;
}

.pn-content{
  width: 1157px;
  height: 520px;
  border-color:#8a7d7d;
  border-style:outset;  
  border-width: 2px;
  padding: 15px 0px 0px 15px;
  z-index: -1;
}

.pn-txt-nhapma{
  margin-top: 45px;
  width: 1132px;
  height: 40px;
}

.pn-table-tittle{
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
}

.pn-table{
  margin-top: 20px;
  padding: 20px 10px 20px 10px;
  width: 1140px;
  height: 300px;
  border-collapse: collapse;
  text-align: center;
  border-color:#8a7d7d;
  border-style:outset;  
  border-width: 2px;
}

.pn-tongtienhang{
  margin: 10px 0px 0px 735px;
}

.pn-btn-capnhat{
  width: 1140px;
  height: 40px;
  margin-top: 10px;
  border-color: #000000;
  background-color:#f1f1f1;
  font-weight: 700;
}
                                /* Trang phiếu nhập */










                                /* Trang báo cáo thu */                                                 
.bct-all{
  margin: 130px 150px;
  z-index: -1;
  }
.bct-tieude{
  width: 1175px; 
  height: 50px;
  background: #333;
  color: antiquewhite;
  text-align: center;
  }
.bct-content{
  width: 1157px;
  height: 800px;
  border-color:#8a7d7d;
  border-style:outset;  
  border-width: 2px;
  padding: 15px 0px 0px 15px;
  z-index: -1;
}
.bct-table{
  margin-top: 60px;
  padding: 20px 10px 20px 10px;
  width: 1140px;
  height: 500px;
  border-collapse: collapse;
  text-align: center;
}

.bct-table-tittle{
  text-transform: uppercase;
  font-weight: 800;
  font-style: italic;
}

.bct-btn-xoa{
  background-color: #333;
  color: #ffffff;
}

.bct-timepicker2{
  margin-left: 10px;
}

.bct-timepicker1, .bct-timepicker2{
  margin-top: 10px;
  width:180px;
  height: 25px;
}

.bct-btn-timkiem{
  margin-left: 20px;
  width:100px;
  height: 28px;
}

.bct-form2{
  margin-top: 40px;
  justify-content: space-between;
}

.bct-span-timkiem{
  margin-left: 642px;
}

.bct-tongtienthu{
  margin-top: 27px;
}

.bct-truocsau{
  margin: 15px 0px 0px 897px
}

.bct-btn-truocsau {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #f1f1f1;
  text-transform: uppercase;
  font-weight: 600;
}
                                /* Trang báo cáo thu */









                                  /*Trang báo cáo chi*/
  .bcc-all{
    margin: 130px 150px;
    z-index: -1;
    }
  .bcc-tieude{
    width: 1175px; 
    height: 50px;
    background: #333;
    color: antiquewhite;
    text-align: center;
    }
  .bcc-content{
    width: 1157px;
    height: 800px;
    border-color:#8a7d7d;
    border-style:outset;  
    border-width: 2px;
    padding: 15px 0px 0px 15px;
    z-index: -1;
  }
  .bcc-table{
    margin-top: 60px;
    padding: 20px 10px 20px 10px;
    width: 1140px;
    height: 500px;
    border-collapse: collapse;
    text-align: center;
  }
  
  .bcc-table-tittle{
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
  }
  
  .bcc-btn-xoa{
    background-color: #333;
    color: #ffffff;
  }
  
  .bcc-timepicker2{
    margin-left: 10px;
  }
  
  .bcc-timepicker1, .bcc-timepicker2{
    margin-top: 10px;
    width:180px;
    height: 25px;
  }
  
  .bcc-btn-timkiem{
    margin-left: 20px;
    width:100px;
    height: 28px;
  }
  
  .bcc-form2{
    margin-top: 40px;
    justify-content: space-between;
  }
  
  .bcc-span-timkiem{
    margin-left: 642px;
  }
  
  .bcc-tongtienthu{
    margin-top: 27px;
  }
  
  .bcc-truocsau{
    margin: 15px 0px 0px 897px
  }
  
  .bcc-btn-truocsau {
    width: 120px;
    height: 40px;
    border: none;
    background-color: #f1f1f1;
    text-transform: uppercase;
    font-weight: 600;
  }
                                  /*Trang báo cáo chi*/









                                  /*Trang lợi nhuận*/
  .ln-all{
    margin: 130px 150px;
    z-index: -1;
  }

  .ln-tieude{
    width: 1175px; 
    height: 50px;
    background: #333;
    color: antiquewhite;
    text-align: center;
  }

  .ln-content{
    width: 1157px;
    height: 800px;
    border-color:#8a7d7d;
    border-style:outset;  
    border-width: 2px;
    padding: 15px 0px 0px 15px;
    z-index: -1;
  }

  .ln-form1{
    margin-top: 20px;
  }

  .ln-timkiem{
    width: 1080px;
    height: 30px;
    
  }

  #ln-kinhlup{
    height: 30px;
    width: 30px;

  }

  .ln-table{
    border-collapse: collapse;
    border-width: 2px;
    border-style: inset;
    border-color: #b2aba6;
    margin-top: 47px;
    padding: 20px 10px 20px 10px;
    width: 1140px;
    height: 650px;
    text-align: center;

  }

  .ln-table-tittle{
    text-transform: uppercase;
    font-weight: 800;
    font-style: italic;
  }

  .ln-dongsole{
    background-color: #ebebeb;
  }

                                  /*Trang lợi nhuận*/









                                  /*Trang công nợ*/
.cn-all{
  margin: 130px 150px;
  z-index: -1;
}

.cn-tieude{
  width: 1175px; 
  height: 50px;
  background: #333;
  color: antiquewhite;
  text-align: center;
}

.cn-content{
  width: 1157px;
  height: 800px;
  border-color:#8a7d7d;
  border-style:outset;  
  border-width: 2px;
  padding: 15px 0px 0px 15px;
  z-index: -1;
}

.cn-form1{
  margin-top: 20px;
  justify-content: space-between;
}

.cn-span-timkiem{
  margin-left: 642px;
}

.cn-table{
  width: 1140px;
  height: 630px;
  margin-top: 50px;
  padding: 20px 10px 20px 10px;
  border-collapse: collapse;
  text-align: center;
}

.cn-table-tittle{
  text-transform: uppercase;
  font-weight: 800;
}

.cn-table-tittle-red{
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(218, 22, 22);
}

.cn-truocsau{
  margin: 10px 0px 0px 897px
}

.cn-btn-truocsau {
  width: 120px;
  height: 40px;
  border: none;
  background-color: #f1f1f1;
  text-transform: uppercase;
  font-weight: 600;
}
                                  /*Trang công nợ*/










  .Phieuxuat{

  font-size: 30px;
  color: #121010;
  background-color: #ffffff;
  width: 300px;
  height: 300px;
  display: none;
  }

 .Phieunhap{
  background-color: #ffffff;
  font-size: 30px;
  color: #121010;
  width: 300px;
  height: 300px;
  display: none;
 }
 .PhieuThuChi{
  background-color: #ffffff;
  font-size: 30px;
  color: #121010;
  width: 300px;
  height: 300px;
  display: none;
 }
 .ThuChi{
  background-color: #ffffff;
  font-size: 30px;
  color: #121010;
  width: 300px;
  height: 300px;
  display: none;
 }
 .TongHop{
  background-color: #ffffff;
  font-size: 30px;
  color: #121010;
  width: 300px;
  height: 300px;
  display: none;
 }
 #Home, #PX { 
  z-index: -1;
  position: relative;
  top: 200px;
  left: 700px;
}
.summary {
  width: 300px;
  height: 150px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-around;
  align-items:bottom;
  font-size: 24px;
  font-weight: bold;
  padding: left 50px; ;
  position: relative;
  right: 550px;
  bottom: 120px;
}

.Tongtienbanhang{
  color: #fff;
  font-size: 15px;
  text-align: center;
position: relative;
width: 200px;
height: 100px;
background-color: rgb(50, 11, 227);
bottom: 180px;
right: 570px;
margin-right: 0px;

}
.btnTongtienbanhang{
  color: #fff;
  top: 55px;
  background-color: rgb(50, 11, 227);
  width: 200px;
  height: 50px;
  margin-right: 80px;
  font-size: 15px;
}
.Sodondathuchien{
  color: #fff;
  font-size: 15px;
  text-align: center;
position: relative;
width: 200px;
height: 100px;
  background-color: rgb(2, 162, 63);
  bottom: 180px;
  right: 500px;
margin-right: 70px;

}
.btnSodondathuchien{
  color: #fff;
  top: 50px;
  background-color: rgb(2, 162, 63);
  width: 200px;
  height: 50px;
  margin-right: 80px;
  font-size: 15px;
}
.Tongtiennhaphang{
  color: #fff;
  font-size: 15px;
  text-align: center;
position: relative;
width: 200px;
height: 100px;
background-color: rgb(9,189,60);
bottom: 180px;
right: 500px;
margin-right: 70px;

}
.btnTongtiennhaphang{
  color: #fff;
  top: 50px;
  background-color: rgb(9, 189, 60);
  width: 200px;
  height: 50px;
  margin-right: 80px;
  font-size: 15px;
}
.Tongchi{
  color: #fff;
  font-size: 15px;
  text-align: center;
position: relative;
width: 200px;
height: 100px;
background-color: rgb(237, 78, 20);
bottom: 180px;
right: 500px;
margin-right: 20px;

}
.btnTongchi{
  color: #fff;
  top: 50px;
  background-color: rgb(237, 78, 20);
  width: 200px;
  height: 50px;
  margin-right: 80px;
  font-size: 15px;
}
.Tonghopbanhang {
  
  display:flex;
  justify-content: space-between;
  /* padding: 30px ; */
  /* margin-right: 20px; */
}
.Loinhuantheothang{

  box-sizing: border-box;

  color: #000000;
  font-size: 25px;
  text-align: center;
  position: relative;
  width: 1100px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  bottom: 0px;
  right: 1550px;
  display: inline-block;
  border-collapse: collapse;
}

.formsearch{
  position: relative;
  width: 500px;
  height: 40px;
  border-radius: 20px;
  left: 150px;
  top: 10px;
}

.tableloinhuantheothang{
  width: 1095px;
  height: 450px;
  border-collapse: collapse;
}
.tablePX{
  position: relative;
  left: 1350px;
  bottom: 50px;
}
.forminputPX{
  position: relative;
  width: 150px;
  height: 30px;
  left: 270px;
  bottom: 30px;
  
}
.tablePhieuxuat{
  box-sizing: border-box;
  color: #000000;
  font-size: 25px;
  text-align: center;
  position: relative;
  width: 1000px;
  height: 650px;
  background-color: rgb(255, 255, 255);
  bottom: 150px;
  right: 1950px;
  display: inline-block;
  border-collapse: collapse;
  z-index: -1;
}
.tablecapnhap{
z-index: 1;
  position: relative;
  left: 470px;
  bottom: 500px;
  border-collapse: collapse;
  width: 500px;
  height: 100px;
  font-size: 15px;
}
.tablePN{
  position: relative;
  left: 1900px;
  bottom: 130px;
}
.forminputsearchHanghoa{
position: relative;
width: 700px;
height: 40px;
top: 20px;
left: 20px;
border-radius: 10px;
}

.value-1 {
  position: relative;
  top: 100px;
  width: 300px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.5);
  display: flex;
  justify-content:center;
  align-items: center

}
.tablePTC {
 position: relative;
 left: 100px;
 width: 1100px;
 height: 900px;
}
.TonKho{
  position: relative;
  left: 100px;
  top: 100px;
}